{% extends 'partials/_master.twig' %}

{% block main %}
<article class="rich-text">

    <h1 class="pb-2 text-3xl font-medium leading-tight text-gray-800 hover:text-gray-600">{{ record.title }}</h1>

    <p class="mb-8 text-gray-600">Martin Betz • {{ record.publishedAt|localedatetime("%B %e, %Y") }}</p>

    {{ record.body }}

</article>

{% endblock main %}
