{% extends 'partials/_master.twig' %}

{% block main %}

    <h1 class="pb-2 text-3xl font-medium leading-tight text-gray-800 hover:text-gray-600">{{ record|title }}</h1>

    {# Output all fields, in the order as defined in the content type.
       To change the generated html and configure the options, see:
       https://docs.bolt.cm/templating #}
    
    {{ record.body }}

    {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
    {{ dump(record) }}
    #}

{% endblock main %}
