<!-- Header bar -->
<header>
    <nav class="mb-8 p-4 md:flex justify-between items-center bg-gray-200">
    <p class="text-xl text-indigo-800 font-semibold tracking-widest"><a href="{{ path('homepage') }}"  class="no-underline">Martin Betz</a></p>
    
    <ul class="md:space-x-4 text-gray-800">
        <li class="md:inline">Articles</li>
        <li class="md:inline">Products</li>
        <li class="md:inline">Services</li>
        <li class="md:inline">Contact</li>
    </ul>
    
  </nav>

</header>
