<p class="mt-8">
    {{ __('general.phrase.written-by-on', {
        '%name%': record.author.displayName|default(__('Unknown')),
        '%date%': record.publishedAt|localedatetime("%A %B %e, %Y"),
    }) }}
</p>
